$selectfield-trigger-font-size: dynamic(null);
$selectfield-trigger-font-size-big: dynamic(null);
$selectfield-trigger-size: dynamic(12px);
$selectfield-trigger-icon: dynamic('arrow_drop_down');
$selectfield-trigger-color: dynamic($divider-color);
$selectfield-selected-item-icon: dynamic('check');
$selectfield-trigger-margin-top: dynamic(-9px);
$selectfield-trigger-right: dynamic(4px);